body {
    display: flex;
    flex-direction: column;
    font-family: Roboto, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 175px;
    align-items: center;
    background-color: #1F2937;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    margin-right: 20px;
}

.links,
.description {
    font-size: 18px;
    color: #E5E7EB;
}

ul {
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 0;
}

li {
    list-style: none;
}

li:hover {
    color: #3882F6;
}

.section1 {
    display: flex;
    background-color: #1F2937;
    padding: 50px 175px;
    justify-content: space-between;
}

.site-description {
    width: 450px;
    margin-right: 20px;
}

.title {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    margin-bottom: 10px;
}

.button {
    background-color: #3882F6;
    width: 100px;
    padding: 8px;
    margin-top: 10px;
    border-radius: 8px;
    text-align: center;
    color: #F9FAF8;
    font-weight: 700;
    flex-shrink: 0;
}

.button:hover {
    background-color: #F9FAF8;
    color: #3882F6;
}

.site-image {
    height: auto;
    flex-basis: 600px;
    border-radius: 20px;
}

.section2 {
    display: flex;
    flex-direction: column;
}

.subtitle {
    font-size: 36px;
    font-weight: 900;
    text-align: center;
    color: #1F2937;
}

.content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 50px;
    gap: 50px;
    text-align: center;
}

.thumbnail {
    width: 200px;
    height: auto;
    border-style: solid;
    border-radius: 15px;
    border-color: #3882F6;
    opacity: 1;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.thumbnail:hover {
    opacity: .5;
}

.box {
    width: 200px;
}

.section3 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E5E7EB;
    padding: 50px 300px;
}

.quote {
    display: flex;
    flex-direction: column;
    min-width: 400px;
}

.quote-text {
    font-size: 36px;
    font-style: light italic;
    color: #1F2937;
    margin-bottom: 0;
}

.quote-credit {
    font-weight: 700;
    align-self: flex-end;
    margin-top: 0;
}

.section4 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 175px;
}

.signup-banner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    min-width: 600px;
    padding: 25px 100px;
    background-color: #3882F6;
    border-radius: 10px;
    color: #F9FAF8;
}

.signup-text {
    margin-right: 20px;
}
.call-to-action {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 0;
}

.signup-button {
    border-style: solid;
    border-color: #F9FAF8;
    margin-top: 0;
}

.click-that-button {
    margin-top: 0;
}

.footer {
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: #1F2937;
    color: #F9FAF8;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: #3882F6;
}



